/*STYLEING THE NAVIGATION MENU HTML*/


	nav ul {
  list-style-type: none;
}


	nav ul li {
  float: left;
  margin-right: 0.5em;
	}
	
	nav ul li {
  padding: 0.25em 1em; 
  text-decoration: none;
  background-color: #EBF5FF;
  color: #4312AE;
  border: 2px solid black;
  border-top-left-radius: 1em 1em
  border-top-right-radius: 1em 1em;
	}
	
	nav ul li:hover, nav ul li:focus{
  color: black;
  background-color: white;
  font-weight: bold;
	}
  